.small-title {
    padding-bottom: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}

body {
    max-width: 1920px;
    background-color: #ffffff;
    margin: 0px auto;
    font-family: 'Poppins', sans-serif;
}

.title {
    padding-top: 20px;
}

.title-cta {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.main-title {
    padding-right: 15px;
    padding-bottom: 0;
}

.cta-title {
    background-color: #ffffff;
    color: #0156FF;
    border: 2px solid #0156FF;
    padding: 8px 60px;
}

.group-price {
    display: flex;
    align-items: baseline;
}

.shopping-address {
    border-top: 1px solid #CCCCCC;
    padding: 25px 0 32px 0;
    border-bottom: 1px solid #CCCCCC;
}

.main-check {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    padding: 43px 0 14px;
}

.all-radio {
    width: 80%;
}

.input-head {
    font-weight: 600;
    font-size: 13px;
    line-height: 210%;
    padding: 15px 0 10px;
}

.check-text {
    font-weight: normal;
    font-size: 13px;
    line-height: 210%;
    color: #666666;
    padding-bottom: 20px;
}

.border {
    border-bottom: 1px solid #CCCCCC;
}

.input-select {
    padding-right: 440px;
}

.input {
    width: 66%;
}

.input-1 {
    border: 1px solid #8C8C8C;
    border-radius: 4px;
    padding: 15px 0 15px 17px;
    margin-bottom: 11px;
    width: 67%;
}

.cta-check {
    padding: 10px 70px;
    margin-bottom: 87px;
}

.radio-para {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    padding-left: 8px;
    padding-right: 30px;
}

.radio-para-1 {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    padding: 0 130px 41px 8px;
}

.price {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.radio-group {
    display: flex;
    justify-content: space-between;
}

.colored-start {
    color: red;
}

.boxes {
    display: flex;
}

.box-1 {
    flex: 1.5;
}

.box-2 {
    padding: 58px 0 0 30px;
}

.image-shop {
    padding-bottom: 46px;
    text-align: center;
}

.shopping {
    background: #F5F7FF;
    padding: 30px;
    width: 70%;
}

.title-shop {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 22px;
}

.head-shop {
    font-size: 14px;
    line-height: 21px;
    color: #666666;
}

.group-head {
    display: flex;
    justify-content: space-between;
    padding: 16px 0 22px 0;
    align-items: center;
}

.group-shop {
    font-size: 14px;
    line-height: 21px;
    display: flex;
    padding-bottom: 25px;
}

.qty {
    font-size: 14px;
    line-height: 140%;
    color: #8C8C8C;
}

.qty-n {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    font-weight: 600;
}

.price-dollar {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    font-weight: 600;
}

.group-para {
    padding-left: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}