.link-color:visited {
    color: #000000;
}

.link-see:visited {
    color: #ffffff;
}

.link-color:link {
    text-decoration: none;
}

.link-see-1:link {
    text-decoration: none;
}

.link-see-1:visited {
    color: #8C8C8C;
}

body {
    max-width: 1920px;
    background-color: #ffffff;
    margin: 0px auto;
    font-family: 'Poppins', sans-serif;
}

.group-about {
    margin-top: 21px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
}

.center {
    max-width: 1400px;
    margin: 0px auto;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    padding: 25px 0 27px;
}

.up-header {
    background-color: #020202;
    max-width: 1920px;
    color: #ffffff;
}

.header {
    border-bottom: 1px solid #CCCCCC;
}

.days {
    color: #8C8C8C;
}

.adress {
    color: #8C8C8C;
}

.contact {
    color: #ffffff;
    text-decoration: underline;
    text-emphasis-position: below;
    padding-left: 5px;
}

.icons-black {
    display: flex;
    align-items: end;
}

.arrow-white-down {
    padding-left: 8px;
}

.cta-nav {
    background-color: #ffffff;
    color: #0156FF;
    border: 2px solid #0156FF;
    width: 150%;
}

.cta {
    border-radius: 50px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    cursor: pointer;
    padding: 8px 0;
}

.search-icon {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.adress-bar {
    padding: 15px 0 13px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    justify-content: space-between;
}

.logo {
    align-self: center;
    margin: 0 56px 0 25px;
}

.menu {
    display: flex;
}

.list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.instagram-white {
    padding-left: 13px;
    display: flex;
}

.face-white {
    padding-left: 16px;
    display: flex;
}

.date {
    display: flex;
    align-items: center;
}

.item {
    padding-right: 25px;
}

.icons-nav {
    display: flex;
    align-items: center;
    column-gap: 29px;
}

.title-about {
    padding-top: 24px;
}

.main-title-about {
    padding: 20px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
}

.main {
    display: flex;
    color: #000000;
}

.gray-footer {
    background: #F5F7FF;
}

.cards-footer {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 63px 45px;
}

.image-card {
    padding-bottom: 26px;
}

.item-card {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

.para-card {
    font-size: 14px;
    line-height: 20px;
    opacity: 0.5;
    width: 55%;
}

.desc-card {
    display: flex;
    justify-content: center;
}

.item-card {
    padding-bottom: 13px;
}

.black-footer {
    background-color: #000000;
}

.footer-title {
    font-weight: 500;
    font-size: 38px;
    line-height: 133%;
    color: #FFFFFF;
    padding-bottom: 9px;
}

.para-footer {
    font-weight: 300;
    font-size: 16px;
    line-height: 133%;
    color: rgba(255, 255, 255, 0.5);
}

.left-up {
    padding: 47px 0;
    flex: 1;
}

.right-up {
    padding: 72px 0;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    column-gap: 23px;
}

.input-footer {
    background: #000000;
    border: 2px solid #FFFFFF;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    padding: 20px 0 20px 7px;
}

.menu-footer {
    display: flex;
    flex-wrap: wrap;
}

.cta-footer {
    background: #0156FF;
    color: #ffffff;
    border: none;
    padding: 20px 40px;
}

.down-footer {
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    display: grid;
    grid-template-columns: 1.5fr 2fr 1fr 1.5fr 2.5fr;
    padding-bottom: 36px;
    column-gap: 70px;
}

.title-down {
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 35px;
}

.list-down {
    list-style: none;
    color: rgba(255, 255, 255, 0.5);
}

.item-down {
    padding-bottom: 8px;
}

.colored {
    color: #539fb6;
}

.under-footer {
    display: flex;
    justify-content: space-between;
    padding: 17px 0;
    color: rgba(255, 255, 255, 0.6);
}

.input {
    border: 1px solid #8C8C8C;
    border-radius: 4px;
    padding: 15px 0 15px 5px;
    margin-bottom: 11px;
    width: 105%;
}

.input-right {
    padding: 15px 0 15px 17px;
    border: 1px solid #8C8C8C;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 11px;
}

.input-email {
    padding: 15px 0 15px 17px;
    border: 1px solid #8C8C8C;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 11px;
}

.item-down:hover {
    color: #FFFFFF;
    cursor: pointer;
}

.banks {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

::placeholder {
    color: #ffffff;
}

img {
    max-width: 100%;
}

.point-bleu {
    width: 10px;
    height: 10px;
    background-color: #0156FF;
    border-radius: 50%;
}

.point-white {
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
}

.point-gray {
    width: 10px;
    height: 10px;
    background-color: #949494;
    border-radius: 50%;
}

ul,
ol {
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li {
    margin: 0;
}

a:not {
    text-decoration-skip-ink: auto;
}

input,
button,
textarea,
select {
    font: inherit;
    margin: 0;
}

.home {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
}

.quot-home {
    background: #F5F7FF;
    padding: 49px 119px;
    width: 58%;
    margin: 0 auto;
}

.learn-zip {
    text-decoration-line: underline;
    font-size: 15px;
}

.input-num {
    background: #EBEBEB;
    border-radius: 6px;
    width: 70px;
    height: 50px;
    margin-right: 20px;
    border: none;
    text-align: center;
}

.point-quot {
    column-gap: 10px;
    display: flex;
}

.bloc-button {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.bloc-text {
    display: flex;
    column-gap: 26px;
}

.cta-quot {
    color: #0156FF;
    padding: 8px 26px;
    border: 2px solid #0156FF;
    background: transparent;
}

.name-quot {
    text-align: right;
    padding: 7px 0 33px;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

.img-quot {
    align-self: baseline;
}

.text-quot {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}