.line-product {
    width: 235px;
    padding: 7px 23px 20px 23px;
}
.line-product-1 {
    width: 235px;
    padding: 7px 23px 20px 0
}
.line-product-2{
    width: 235px;
    padding: 7px 0 20px 23px;}

.slider{
    align-self: center;
}

.head-new {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
}
.head-new {
    display: flex;
    justify-content: space-between;
    padding: 37px 0 14px;
}
.head-new-2{
    font-size: 13px;
    line-height: 115%;
    text-decoration-line: underline;
}
.text-product {
    padding: 15px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
}
.old-price {
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-decoration-line: line-through;
    font-style: normal;
    color: #666666;;

}
.new-price {
    padding: 10px 0;
    font-size: 14px;
    line-height: bold;
    color: #000000;
}
.instock {
    font-size: 10px;
    line-height: 210%;
    color: #78A962;
    padding-left: 6px;
}
.prouducts {
    display: flex;

}
.check-availability {
    font-size: 10px;
    line-height: 210%;
    color: #C94D3F;
    padding-left: 6px;
}
.half {
    display: flex;
    justify-content: center;
    padding: 24px 0;
    background: #F5F7FF;
    margin-bottom: 14px;
}
.zip {
    margin-right: 14px;

}
.text-half {
    font-weight: normal;
    font-size: 18px;
    line-height: 120.5%;
    color: #272560;

}
.own {
    font-weight: bold;
}
.learn-zip{
    text-decoration-line: underline ;
}
.product-line-2 {
    display: flex;
}
.category-bold {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    padding-right: 26px;
    text-decoration:  ;
    text-decoration: underline #00AEB8;
}
.category-soft{
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #838383;
    padding-right: 26px;
}
.category {
    padding: 36px 0 24px 0;
}
.over-slide{
    position: absolute;
    top: 125px;
    right: 53px;
    left: 75px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 130%;
    color: #FFFFFF; 
    text-align: center;
}
.over-slid {
    position: absolute;
    top: 271px;
    left: 76px;
    font-weight: normal;
    font-size: 13px;
    line-height: 115%;
    text-decoration-line: underline;
    color: #FFFFFF;
}
.image-side {
    position: relative;
}
.view {
    max-width: 100%;
    display: flex;
    position: relative;
}
.reviews {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 210%;
    color: #8C8C8C;
}
.over{
    position: absolute;
}
.over-right{
    position: absolute;
    right: 2px;
}
.logos-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 31px 0 42px;
}
.logo-home {
    padding: 35px 24px;
}
.title-home {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #000000;
    padding-bottom: 21px;
}
.card-follow {
    width: 235px;
    padding: 0 11px 20px 0;
}
.text-card {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    text-align: center;
    padding: 10px 0;
}
.cards{
    display: grid;
    grid-template-columns: repeat(6 ,1fr);
    padding-bottom: 37px;
    
}
.date-card {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
    color: #8C8C8C;
}
.quot-home{
    background: #F5F7FF;
    width: 1160px;
    padding: 49px 119px;
}
.bloc-button {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.cta-quot {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #0156FF;
    padding: 8px 26px;
    border: 2px solid #0156FF;
    border-radius: 50px;


}
.name-quot {
    text-align: right;
    padding: 7px 0 33px;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px; 


}
.bloc-text {
    display: flex;
    justify-content: space-between;
}
.text-quot {
    width: 850px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #000000;

}