.side-left {
    position: relative;
}

.side-right {
    position: relative;
}

.head-view {
    width: 100%;
}

.arrow-side-left {
    max-width: none;
    position: absolute;
    bottom: 156px;
}

.arrow-side-right {
    max-width: none;
    position: absolute;
    bottom: 156px;
    right: 2px;
}

.new-head {
    display: flex;
    justify-content: space-between;
    padding: 37px 0 21px;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
}

.title-product-2 {
    font-size: 13px;
    line-height: 115%;
    text-decoration-line: underline;
    font-style: normal;
    font-weight: normal;
}

.white {
    background-color: #FFFFFF;
}

.text-product {
    padding: 7px 0 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
}

.product-img {
    padding: 7px 0 10px;
    display: flex;
    justify-content: center;
}

.old-price {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-decoration-line: line-through;
    font-style: normal;
    color: #666666;
}

.new-price {
    padding-top: 6px;
    font-size: 18px;
    color: #000000;
    font-style: normal;
}

.avilable {
    display: flex;
    align-items: center;
}

.instock {
    font-size: 10px;
    line-height: 210%;
    color: #78A962;
    padding-left: 6px;
}

.products {
    display: flex;
}

@media screen and (max-width: 1410px) {
    .products {
        flex-wrap: wrap;
    }
}

.check-availability {
    font-size: 10px;
    line-height: 210%;
    color: #C94D3F;
    padding-left: 6px;
}

.zip-barre {
    display: flex;
    justify-content: center;
    padding: 24px 0;
    background: #F5F7FF;
    margin: 18px 0 14px;
}

.image-zip {
    margin-right: 14px;
}

.text-zip {
    font-weight: normal;
    font-size: 18px;
    line-height: 120.5%;
    color: #272560;
}

.own {
    font-weight: bold;
}

.product-line {
    display: flex;
}

.product-line-four {
    padding: 31px 0;
    display: flex;
}

@media screen and (max-width: 1400px) {
    .product-line {
        flex-wrap: wrap;
    }
    .product-line-four {
        flex-wrap: wrap;
    }
}

.category-bold {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    padding-right: 26px;
    text-decoration: underline #0156FF;
}

.line-product {
    padding: 7px 25px 0 23px;
}

.category-soft {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #838383;
    padding-right: 26px;
}

.category {
    padding: 40px 0 24px 0;
}

.over-slide {
    position: absolute;
    top: 140px;
    right: 56px;
    left: 64px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 130%;
    color: #FFFFFF;
    text-align: center;
}

.over-slid {
    position: absolute;
    top: 291px;
    left: 73px;
    font-weight: normal;
    font-size: 13px;
    line-height: 115%;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.image-side {
    position: relative;
}

.view {
    max-width: 100%;
    position: relative;
}

.reviews {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 210%;
    color: #8C8C8C;
}

.logos-home {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    padding-bottom: 42px;
    justify-content: space-between;
}

.logo-home {
    padding: 35px 24px;
}

.title-home {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #000000;
    padding-bottom: 21px;
}

.text-card {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    text-align: center;
    padding: 10px 28px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(191px, 1fr));
    padding-bottom: 57px;
    row-gap: 20px;
    column-gap: 11px;
}

.date-card {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
    color: #8C8C8C;
}

.position-img {
    position: absolute;
    bottom: 121px;
}

.position-img-top {
    position: absolute;
    right: 2px;
    top: 130px;
}