.under-header {
    display: flex;
    justify-content: space-between;
    padding: 19px 0 5px;
    align-items: baseline;
}
.right-under {
    display: flex; 
    align-items: center;
    
}
.group-home {
    padding: 19px 0;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
}
.side-left {
    width: 234px;
    padding-bottom: 160px;
    
}
.home-cat-1 {
    color: #666666;
}
.bold-cta {
    color: #000000;
    margin-right: 20px;
      
}
.box-one {
    padding: 12px 20px 12px 10px;
    background: #ffffff;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 210%;
    color: #CCCCCC;
    border: 2px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 2px;
    margin-right: 11px;
    cursor: pointer;
}
.list-view {
    margin-right: 19px;
}
.item-under {
    font-weight: normal;
    font-size: 13px;
    line-height: 210%;
    color: #8C8C8C;
}
.cta-back {
    padding: 12px 100px 12px 100px;
    background: #ffffff;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 210%;
    color: #000000;
    border: none;
    margin-right: 11px;
}
.back {
    margin-left: 10px;
}
.filters {
    text-align: center;
    padding: 10px 0px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}
img {
    max-width: none;
}
.cta-filter {
    color: #666666;
    padding: 8px 68px;
    background: #F5F7FF;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 210%;
    border: 2px solid #666666;
    border-radius: 50px;
    cursor: pointer;
}
.pointer {
    cursor: pointer;
}
.cta-category {
    background: #F5F7FF;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    border: none;
    padding: 15px 0;
}
.arrow-cat {
    margin-left: 145px
}
.arrow-cate {
    margin-left: 166px
}
.category-item {
    display: flex;
    justify-content: space-between;
    font-weight: normal;
    font-size: 13px;
    line-height: 210%;
    color: #000000;
    padding-top: 6px;
}
.apply-filter {
    background: #0156FF;
    border-radius: 50px;
    color: #ffffff;
    border: none;
    padding: 8px 45px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    cursor: pointer;
}
.cta-apply {
    text-align: center;
    padding-bottom: 20px;
}
.bloc-one {
    background: #F5F7FF;
    padding: 0 11px;
    margin-bottom: 7px;

}
.bloc-tow {
    background: #F5F7FF;
    padding: 0 11px 8px 11px;
    
}
.bloc-tree {
    background: #F5F7FF;
    padding: 10px 11px 8px 11px;
    margin-bottom: 7px;
    text-align: center;
    

}
.bloc-four {
    background: #F5F7FF;
    padding: 10px 11px 8px 11px;
    margin-bottom: 7px;
    text-align: center;
    
}
.logo-item {
    padding: 13px;
    border: 1px solid #CCCCCC;
}
.logo-marques {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 7px;
}
.wish-list {
    font-weight: normal;
    font-size: 13px;
    line-height: 130%;
    padding: 10px 0;

}
.sides {
    display: flex;
}
.barre {
    display: flex;
    
}
.border {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    padding: 9px 16px;
    margin-left: 8px;
    display: flex;
    align-items: center;
}
.border-one {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    padding: 13px 16px;
    margin-left: 8px;
}
.exit-button {
    margin-left: 4px;
}
.reviews {
    font-weight: normal;
    font-size: 12px;
    line-height: 210%;
    color: #8C8C8C;
}
.product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 45px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.14);
    margin: 20px 0 15px 6px;
    padding: 8px 30px 36px 53px;
    
}
.read-more {
    padding: 25px 0 60px;
    text-align: center;
}
.text-read-more {
    color: #8C8C8C;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
}
.cta-more {
    color: #8C8C8C;
    border-radius: 50px;
    border: 2px solid #8C8C8C;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    padding: 8px 26px;
    
}
.text-product {
    align-self: end;
}
.para-product {
    width: 346px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    padding-bottom: 16px;
}
.button-more {
    text-align: center;
    padding: 25px 0 35px;


}
.title-product {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 21px;
}
.cta-product {
    background-color: #ffffff;
    color: #0156FF;
    border: 2px solid #0156FF;
    border-radius: 50px;
    padding: 6px 34px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    cursor: pointer;
}
.icon-shop {
    padding-right: 6px;
}
.old-price {
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-decoration-line: line-through;
    color : #666666;
}
.new-price {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    text-decoration-line: none;
    color : #000000;
    padding-left: 6px;

}
.price {
    padding-bottom: 51px;
}
.choices {
    align-self: center;
    
}
.stars {
    padding-top: 21px;
}
.choice {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    
}
.find {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #666666;
    
}
.choice-2 {
    background: #F5F7FF;
    display: flex;
    justify-content: space-between;
    padding: 6px 15px;
}
.choice-1 {
    display: flex;
    justify-content: space-between;
    padding: 6px 15px;
}
.stock {
    display: grid;
    justify-content: end; 
}
.in-stock {
    justify-self: end;
}
.icons-stock {
    align-self: flex-end;
    display: flex;
    column-gap: 6px;
}
.stock-green {
    font-size: 10px;
    line-height: 210%;
    color: #78A962;
}