.under-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 8px;
}

.right-under {
    display: flex;
    align-items: center;
}

.group-home {
    padding: 19px 0;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
}

.home-cat-1 {
    color: #666666;
}

.bold-cta {
    color: #000000;
    margin-right: 20px;
}

.box-one {
    padding: 12px 20px 12px 30px;
    background: #ffffff;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 210%;
    color: #CCCCCC;
    border: 2px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 2px;
    margin-right: 11px;
    cursor: pointer;
}

.list-view {
    margin-right: 19px;
}

.item-under {
    font-weight: normal;
    font-size: 13px;
    line-height: 210%;
    color: #8C8C8C;
}

.cta-back {
    padding: 12px 0;
    background: #ffffff;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 210%;
    color: #000000;
    border: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back {
    margin-left: 10px;
}

.filters {
    text-align: center;
    padding: 10px 0px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

img {
    max-width: none;
}

.cta-filter {
    color: #666666;
    padding: 8px 0;
    background: #F5F7FF;
    border: 2px solid #666666;
    width: 100%;
}

.pointer {
    cursor: pointer;
}

.cta-category {
    background: #F5F7FF;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    border: none;
    padding: 28px 0 15px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
}

.category-item {
    display: flex;
    justify-content: space-between;
    font-weight: normal;
    font-size: 13px;
    line-height: 210%;
    color: #000000;
    padding-top: 6px;
}

.cta-apply {
    background: #0156FF;
    color: #ffffff;
    border: none;
    padding: 8px 0;
    margin-bottom: 30px;
    width: 100%;
}

.bloc-one {
    background: #F5F7FF;
    padding: 0 18px;
    margin-bottom: 7px;
}

.bloc-tow {
    background: #F5F7FF;
    padding: 0 11px 15px;
}

.bloc {
    background: #F5F7FF;
    padding: 10px 11px 20px 11px;
    margin-bottom: 7px;
    text-align: center;
}

.logo-item {
    padding: 15px 12.5px;
    border: 1px solid #CCCCCC;
}

.logo-marques {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 7px;
}

.wish-list {
    font-weight: normal;
    font-size: 13px;
    line-height: 130%;
}

.last-bloc {
    margin-bottom: 20px;
}

.sides {
    display: flex;
    padding: 19px 0 35px;
}

.barre {
    display: flex;
    column-gap: 8px;
    margin-left: 8px;
}

.box-tow {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    padding: 9px 16px;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 210%;
}

.soft-num {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 210%;
    margin-left: 5px;
}

.exit-button {
    margin-left: 4px;
}

.reviews {
    font-weight: normal;
    font-size: 12px;
    line-height: 210%;
    color: #8C8C8C;
}

.product {
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr 1fr;
    column-gap: 53px;
    padding: 8px 30px 36px 53px;
    margin-bottom: 15px;
}

.product:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.14);
}

.read-more {
    text-align: center;
}

.text-read-more {
    color: #8C8C8C;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    padding: 60px 0 25px 25px;
    background: -webkit-linear-gradient(#747474, #c4bfbf, #f9f7f7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cta-more {
    color: #8C8C8C;
    border-radius: 50px;
    border: 2px solid #8C8C8C;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    padding: 8px 26px;
}

.text-product {
    align-self: end;
}

.para-product {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    padding-bottom: 16px;
}

.button-more {
    text-align: center;
}

.title-product {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 21px;
}

.products {
    margin: 21px 0 25px 6px;
}

.cta-product {
    background-color: #ffffff;
    color: #0156FF;
    border: 2px solid #0156FF;
    padding: 8px 0;
    width: 50%;
    display: flex;
    justify-content: center;
}

.icon-shop {
    padding-right: 10px;
}

.old-price {
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-decoration-line: line-through;
    color: #666666;
}

.new-price {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    text-decoration-line: none;
    color: #000000;
    padding-left: 6px;
}

.price {
    padding-bottom: 47px;
}

.choices {
    align-self: center;
}

.stars {
    padding-top: 21px;
}

.choice {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    flex: 1;
}

.find {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #666666;
    flex: 0.5;
}

.choice-2 {
    background: #F5F7FF;
    display: flex;
    padding: 6px 15px;
    width: 120%;
}

.rectogales {
    display: flex;
    column-gap: 7px;
}

.assus-barre {
    max-width: 100%;
}

@media screen and (max-width: 1400px) {
    .product {
        grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    }
}

.black-rec {
    width: 23px;
    height: 23px;
    background-color: #000000;
}

.red-rec {
    width: 23px;
    height: 23px;
    background-color: #DB0000;
}

.border-rec {
    border: none;
    width: 27px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-rec-red {
    border: 1px solid #8C8C8C;
    width: 27px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice-1 {
    display: flex;
    width: 120%;
    padding: 6px 15px;
}

.stock {
    display: grid;
    justify-content: end;
}

.in-stock {
    justify-self: end;
}

.icons-stock {
    align-self: flex-end;
    display: flex;
    column-gap: 6px;
}

.stock-green {
    font-size: 10px;
    line-height: 210%;
    color: #78A962;
}