.bloc-shop {
    display: flex;
}

.radio-shop {
    display: flex;
    padding-bottom: 30px;
}

.input-shop {
    width: 95%;
}

.input-shopping {
    border: 1px solid #8C8C8C;
    border-radius: 4px;
    padding: 15px 0 15px 5px;
    margin-bottom: 11px;
    width: 100%;
}

.row-1 {
    text-align: left;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

.item-row {
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 13px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

.shop-left {
    padding-right: 35px;
}

@media screen and (max-width: 1400px) {
    .bloc-shop {
        flex-wrap: wrap;
    }
}

.none {
    max-width: none;
}

.item-row-3 {
    padding-right: 20px;
    border-bottom: 1px solid #CCCCCC;
}

.item-row-1 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding-right: 60px;
}

.item-row-2 {
    display: flex;
    padding: 25px 0;
}

.image-row {
    width: 120px;
}

.para-row {
    width: 56%;
    font-size: 14px;
    line-height: 21px;
    padding: 0 28px;
}

.small-title {
    padding-top: 21px;
}

.table {
    padding-bottom: 25px;
}

.continue-shopping-cta {
    background-color: #ffffff;
    color: #666666;
    border: 2px solid #000000;
    align-items: center;
    padding: 8px 30px;
}

.clear-shopping-cta {
    background-color: #000000;
    color: #ffffff;
    border: 2px solid;
    padding: 8px 30px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.bloc-shopping {
    background: #F5F7FF;
    padding: 24px 30px;
}

.title-shopping {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 19px;
}

.main-title-shop {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
}

.shopping-g {
    font-size: 18px;
    line-height: 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
}

.para-shopping {
    font-size: 14px;
    line-height: 21px;
    color: #666666;
    padding: 13px 0;
}

.para-shopping-small {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 180%;
    color: #8C8C8C;
    width: 65%;
}

.cta-apply {
    background: #F5F7FF;
    color: #0156FF;
    border: 2px solid;
    padding: 16px 0px;
    margin-top: 19px;
    width: 100%;
}

.border-shop {
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 29px;
}

.price-group {
    font-weight: 600;
    font-size: 13px;
    line-height: 210%;
    display: flex;
    justify-content: space-between;
    padding: 6px 0px;
    align-items: baseline;
}

.bold-price {
    font-weight: 600;
    font-size: 18px;
    line-height: 210%;
}

.learn-more {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12%;
}

.cta-proceed {
    background: #0156FF;
    color: #F5F7FF;
    border: 2px solid;
    padding: 16px 0px;
    width: 100%;
}

::placeholder {
    color: #8C8C8C;
}

.cta-paypal {
    background: #FFB800;
    color: #232C65;
    border: none;
    padding: 16px 0px;
    margin-top: 14px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-shop-1 {
    padding-bottom: 29px;
}

.small-2 {
    padding: 21px 0 19px;
}

.link-see:visited {
    color: #232C65
}

.cta-address {
    background: #F5F7FF;
    color: #666666;
    border: 2px solid;
    padding: 16px 0;
    margin: 14px 0 27px;
    width: 100%;
}

.pay {
    padding-left: 15px;
}

.bloc-shop {
    padding-bottom: 70px;
}

.group-zip {
    display: flex;
    align-items: center;
}

.text-zip {
    padding-left: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 120.5%;
    color: #272560;
}