* {
    box-sizing: border-box;
    padding: 0;
   
}

body {
    max-width: 1920px;
    background-color: #ffffff;
    margin: 0px auto;
    font-family: 'Poppins', sans-serif;
}

.center {
    max-width: 1400px;
    margin: 0px auto; 
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    padding: 25px 0;
}

.up-header {
    background-color: #020202;
    max-width: 1920px;
    color: #ffffff;
}

.header {
    border-bottom: 1px solid #CCCCCC;
}

.days {
    color: #8C8C8C;
}

.adress {
    color: #8C8C8C;
}

.contact {
    color: #ffffff;
    text-decoration: underline;
    text-emphasis-position: below;
    padding-left: 5px;
}

.left-black {
    display: flex;
    align-items: center;
}
.arrow-white-down {
    padding-left: 8px;
}

.cta-nav {
    background-color: #ffffff;
    color: #0156FF;
    border: 2px solid #0156FF;
    border-radius: 50px;
    padding: 8px 26px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

.adress-bar{
    padding: 15px 0;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    
    margin-right: 56px;
}

.menu {
    display: flex;

}

.list {
    display: flex;
    align-items: center;
    list-style: none;
}

.instagram-white {
    padding-left: 13px;
}

.face-white {
    padding-left: 16px;
}

.item {
    padding-right: 25px;
}

.image {
    padding-right: 29px;
}

.icons-nav {
    display: flex;
    align-items: center;
}